<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagamento do Pedido</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

    <main class="payment-container">
        <header class="payment-header">
            <h2>Área de Pagamento</h2>
            <p>Escaneie o QR Code abaixo para concluir</p>
        </header>

        <section class="qrcode-section">
            <div class="qrcode-box">
                <img src="{{ qrcode_url }}" alt="QR Code do Pedido">
            </div>
            <p class="expiration-text">Esse QR Code expira em: <strong>{{ expiration_date }}</strong></p>
        </section>

        <section class="value-highlight">
            <span>Valor a pagar:</span>
            <div class="payment-amount">R$ {{ value }}</div>
        </section>

        <hr class="divider">

        <footer class="order-details">
            <div class="detail-group">
                <span>Número do Pedido:</span>
                <strong>#{{ payment_id }}</strong>
            </div>
            <div class="detail-group">
                <span>Status:</span>
                <span class="status-badge">Aguardando Pagamento</span>
            </div>
        </footer>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script>
        var socket = io.connect('{{host}}');
        socket.on('connect', function() {
            console.log("[CLIENT]: Connection on");
            console.log("[CLIENT]: Waiting payment");
        });
        socket.on('payment-confirmed-{{payment_id}}', function() {
            console.log("[CLIENT]: Payment confirmed! Notifying the server...");
            socket.emit('confirm_receipt_on_server', {
            payment_id: '{{payment_id}}',
                status: "success"
            });
            setTimeout(function() {
                location.reload();
            }, 1000);   
        });
    </script>
</body>
</html> 